body {
  margin: 0;
  padding: 0;
}
.App {
  height: 500px;
  min-height: 100vh;
  background-image: url('./../public/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.Form {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.Form-Label{
  align-self: center;
  padding: 7px 30px;
  border: none;

}
.Input-Container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
}
.Label {
  margin-bottom: 5px;
}
.Input {
  padding: 5px 15px;
}
.Login-Btn {
    align-self: center;
    padding: 7px 30px;
    border: none;
    color: #fff;
    background-color:rgb(172, 17, 214);
    box-shadow: 2px 2px 2px rgb(137, 28, 167);
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
}
.Login-Btn:hover {
    background-color: rgb(137, 28, 167) ;
    box-shadow: none;
    transform: translateX(2px) translateY(2px);
}
